<nav>
  <ul class="menu menu-ambassador-right-main-menu">
    <li class="first{% if Model.Menu.Items[0].Selected == true %} current{% endif %}">
      <a href= "/">
        About
      </a>
    </li>

    <li class="{% if Model.Menu.Items[1].Selected == true %} current{% endif %}">
      <a href= "/resources-for-orchard-ambassadors">
        Resources <span>for</span> ambassadors
      </a>
    </li>

    <li class="{% if Model.Menu.Items[2].Selected == true %} current{% endif %}">
      <a href= "/find-the-nearest-orchard-ambassador">
        Find <span>an</span> ambassador
      </a>
    </li>

    <li class="last{% if Model.Menu.Items[3].Selected == true %} current{% endif %}">
      <a href= "/orchard-ambassador-application">
        Apply
      </a>
    </li>
  </ul>
</nav>
