<div class="zone zone-footer">

  {% display LombiqBadgeOfHonor %}

  {% display User %}

  <div class="credits">
  <span class="poweredby">
    Powered by <a href="http://dotnest.com" target="_blank">DotNest</a>, the Orchard SaaS platform fueled by <a href="http://lombiq.com" target="_blank">Lombiq</a>
  </span>
</div>

</div>