@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Content/Bootstrap/less/mixins";
@import "mixins/media";
@import "mixins/mixins";
@import "mixins/panels";
@import "variables";

body
{
    background-color: @ambassadors-black-light-color;
    color: @ambassadors-text-color;
    font-size: @ambassadors-base-font-size;
    line-height: 1.6em;

    &::before
    {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

#layout-main-container
{
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 90%, @ambassadors-black-light-color 98%), url(../Images/background.jpg);
    width: 100%;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
        
    #layout-main
    {
        .ambassadors-content-center();
        padding: 5rem 0 1rem;

        @media @media-lg
        {
            padding: 25rem 0 1rem;
        }

        #layout-content
        {
            &::after
            {
                content: '';
                position: absolute;
                right: 0;
                left: 0;
                height: 7.4rem;
                background: url("../Images/logo-big.png") no-repeat center bottom;
                margin-top: -9rem;
            }

            .zone-content
            {
                .ambassadors-panel-body ();

                .ambassadors-searchbar
                {
                    padding: 3rem 0;
                    display: flex;

                    .ambassadors-search-button
                    {
                        border: 0;
                        border-radius: 0 1rem 1rem 0;
                        margin-top: 0;
                        background-color: @ambassadors-orange-color;
                        color: @ambassadors-white-color;
                    }
                }
            }
        }
    }
}

/* Header */
#layout-wrapper
{
    #layout-header
    {        
        .ambassadors-content-center();

        .zone-header
        {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            z-index: 1;

            #branding
            {
                margin: 0;
                width: 100%;
                padding-left: 0;
                height: 0;

                a
                {
                    width: 27rem;
                    height: 5rem;
                    position: absolute;
                    margin: auto;
                    background-image: url(../Images/logo.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    outline: 0;
                    .text-hide();
                    text-align: center;
                    z-index: 1;

                    &:hover, 
                    &:active, 
                    &:focus
                    {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#layout-main-container,
#footer-quad
{
    .widget
    {
        .ambassadors-panel-body ();
    }
}

/* Links */
a
{
    color: @ambassadors-link-color;
    text-decoration: underline;

    &:hover,
    &:active,
    &:visited
    {
        color: @ambassadors-link-color;
        text-decoration: underline;
    }
}

/* Footer */
.credits
{
    font-size: 0.9em;
    margin-top: 1em;
    text-align: center;
}

.user-display
{
    display: none;
}

.zone-footer
{
    width: 100%;
    text-align: center;
    padding: 1rem 5rem;
    color: @ambassadors-footer-color;
    border-top: 1px solid @ambassadors-footer-border-color;
    background: @ambassadors-footer-gradient-start-color;
    background: -moz-linear-gradient(top, @ambassadors-footer-gradient-start-color 0 ambassadors-footer-gradient-end-color 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,@ambassadors-footer-gradient-start-color), color-stop(100%,ambassadors-footer-gradient-end-color));
    background: -webkit-linear-gradient(top, @ambassadors-footer-gradient-start-color 0,ambassadors-footer-gradient-end-color 100%);
    background: -o-linear-gradient(top, @ambassadors-footer-gradient-start-color 0,ambassadors-footer-gradient-end-color 100%);
    background: -ms-linear-gradient(top, @ambassadors-footer-gradient-start-color 0,ambassadors-footer-gradient-end-color 100%);
    background: linear-gradient(to bottom, @ambassadors-footer-gradient-start-color 0,ambassadors-footer-gradient-end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@ambassadors-footer-gradient-start-color, endColorstr=ambassadors-footer-gradient-end-color,GradientType=0 );

    a
    {
        color: @ambassadors-footer-link-color;
        text-decoration: none;
    }
}
