/* Breadcrumbs
   Some LESS variables that you can configure from your derived theme.
***************************************************************/
/* Variables
***************************************************************/
/* Colors */
/* Media queries */
body {
  font-size: 18px;
  background: #e9ede6;
  line-height: 1.6em;
  color: #555555;
}
@media only screen and (min-width: 61.11em) {
  body {
    background: url(../Content/Images/Background.jpg) no-repeat fixed;
    background-size: 100%;
    background-position: left top;
  }
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(25, 25, 25, 0) 0, rgba(25, 25, 25, 0) 45%, #191919 65%, #191919 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25, 25, 25, 0)), color-stop(45%, rgba(25, 25, 25, 0)), color-stop(65%, #191919), color-stop(100%, #191919));
  background: -webkit-linear-gradient(top, rgba(25, 25, 25, 0) 0, rgba(25, 25, 25, 0) 45%, #191919 65%, #191919 100%);
  background: -o-linear-gradient(top, rgba(25, 25, 25, 0) 0, rgba(25, 25, 25, 0) 45%, #191919 65%, #191919 100%);
  background: -ms-linear-gradient(top, rgba(25, 25, 25, 0) 0, rgba(25, 25, 25, 0) 45%, #191919 65%, #191919 100%);
  background: linear-gradient(to bottom, rgba(25, 25, 25, 0) 0, rgba(25, 25, 25, 0) 45%, #191919 65%, #191919 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001919 19, endColorstr=#191919, GradientType=0);
  background-attachment: fixed;
}
ol,
ul {
  list-style: disc;
  padding: 0;
  margin: 0;
}
li {
  margin: 1rem 0;
}
a {
  color: #ff7733;
  text-decoration: underline;
}
a:hover {
  color: #ff7733;
  text-decoration: underline;
}
a:active,
a:visited {
  color: #ff7733;
  text-decoration: underline;
}
#layout-wrapper {
  width: 100%;
  padding: 0;
}
#layout-wrapper #layout-header {
  background: #ffffff;
  box-shadow: 0 0 1.11rem #000000;
  height: 7.5rem;
  margin: 0;
  width: 100%;
}
#layout-wrapper #layout-header #header {
  width: 100%;
}
#layout-wrapper #layout-header #header .zone-header {
  padding-right: 0;
  padding-left: 0;
  height: 7.5rem;
  vertical-align: middle;
}
@media only screen and (min-width: 61.11em) {
  #layout-wrapper #layout-header #header .zone-header {
    margin: 0 auto;
    width: 53.33em;
  }
}
#layout-wrapper #layout-header #header .zone-header #branding {
  position: relative;
}
#layout-wrapper #layout-header #header .zone-header #branding a {
  width: 28rem;
  height: 7rem;
  background-image: url("../Content/Images/logo.png");
  background-repeat: no-repeat;
  background-position: center left;
  vertical-align: middle;
  position: absolute;
  z-index: 10;
  top: -0.8rem;
}
#layout-wrapper #layout-main-container {
  margin-left: 0;
  margin-right: 0;
}
#layout-wrapper #layout-main-container #layout-main #layout-content {
  padding: 0 0 1rem;
}
@media only screen and (min-width: 61.11em) {
  #layout-wrapper #layout-main-container #layout-main #layout-content {
    padding: 22rem 0 1rem;
  }
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content {
  position: relative;
  padding: 0 1rem 1rem;
  box-shadow: 0 0 1.11rem #555555;
  background-color: #ffffff;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3.2rem;
  left: 0;
  height: 7.4rem;
  background: url("../Content/Images/logo-big.png") no-repeat bottom;
}
@media only screen and (min-width: 61.11em) {
  #layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content {
    border-radius: 1.66rem;
    border-top-left-radius: 0;
    margin: 0 auto;
    width: 53.33em;
    padding: 0 5rem 5rem;
  }
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content h1 {
  border: 0;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 0rem;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content p {
  margin: 3.5rem 0;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-map {
  margin: auto -2rem;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 61.11em) {
  #layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-map {
    margin: auto -5rem;
    margin-bottom: 3rem;
  }
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-map img {
  width: 100%;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-searchbar .ambassadors-search-input {
  width: calc(100% - 5rem);
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-searchbar .ambassadors-search-button {
  height: 2.6em;
  width: 2.6em;
  border: 0;
  border-radius: 0 1rem 1rem 0;
  margin-top: 0;
  background: url("../Content/Images/search.png") center;
  outline: 0;
  padding: 0;
  float: left;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container {
  margin: auto -1.5rem;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li {
  text-align: left;
  width: 90%;
  margin: 2.5rem 2rem;
  background: #ffffff;
  box-shadow: 0 0 1.11rem rgba(85, 85, 85, 0.5);
  border-radius: 1.66rem;
  border-top-left-radius: 0;
  display: inline-block;
}
@media only screen and (min-width: 30em) {
  #layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li {
    width: 85%;
    margin: 2.5rem 2rem;
  }
}
@media only screen and (min-width: 61.11em) {
  #layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li {
    width: 40rem;
    margin: 2.5rem 2rem;
  }
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-portrait {
  background: url("../Content/Images/portrait.png");
  width: 12rem;
  height: 20rem;
  float: left;
  border-bottom-left-radius: 1.66rem;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details {
  margin-left: 12rem;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details h4 {
  color: #757b71;
  font-size: 1.11em;
  margin: 2rem 2rem 0.5rem;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details p {
  margin: 0.5rem 2rem;
  font-size: 0.77em;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details ul {
  padding: 0;
  width: 100%;
  margin: 0 2rem;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details ul .ambassador-phone-number {
  margin: 0.5rem 0rem;
  display: inline;
  box-shadow: none;
  border-radius: unset;
  font-size: 0.66em;
  padding-left: 2rem;
  background: url("../Content/Images/phone-logo.png") no-repeat;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details ul .ambassador-location {
  margin: 0.5rem 0rem 0.5rem 1rem;
  display: inline;
  box-shadow: none;
  border-radius: unset;
  font-size: 0.66em;
  padding-left: 2rem;
  text-transform: uppercase;
  background: url("../Content/Images/location-sign.png") no-repeat;
}
#layout-wrapper #layout-main-container #layout-main #layout-content #content .zone-content .ambassadors-search-result-container .ambassadors-search-result li .ambassador-details .ambassador-description {
  margin-right: 3rem;
  line-height: 1.2em;
  text-align: left;
}
#layout-wrapper #layout-footer #footer #footer-quad {
  margin-left: 0;
  margin-right: 0;
}
#layout-wrapper #layout-footer #footer #footer-sig {
  margin-left: 0;
  margin-right: 0;
}
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer {
  font-size: 0.77em;
  padding: 0;
  width: 100%;
  text-align: center;
  margin: 10rem 0 0;
  border-top: 1px solid #43463c;
  background: #303030;
  background: -moz-linear-gradient(top, #303030 0 #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #303030), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #303030 0, #222222 100%);
  background: -o-linear-gradient(top, #303030 0, #222222 100%);
  background: -ms-linear-gradient(top, #303030 0, #222222 100%);
  background: linear-gradient(to bottom, #303030 0, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#222222, GradientType=0);
}
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer a {
  color: #ffffff;
  text-decoration: none;
}
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer a:hover,
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer a:active,
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer .user-display {
  padding: 0.7rem 0 0.4rem 0;
}
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer .user-display a {
  margin: auto 0.5rem;
}
#layout-wrapper #layout-footer #footer #footer-sig .zone-footer .user-display .user-actions {
  margin: auto 2rem;
}
/*# sourceMappingURL=general.css.map */