@import "variables";
@import "type";

body
{
    font-size: @ambassadors-base-font-size;
    background: @ambassadors-background-color;
    background: url(../Content/Images/Background.jpg) no-repeat;
    background-size: contain;
    background-position: left top;
    line-height: 1.5em;

    &::before
    {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 0),#000000 60%, #000000 100%);
        background-attachment: fixed;
        opacity: 1;
    }

    color: @ambassadors-text-color;
    .ambassadors-font-normal();
}

ol, ul
{
    list-style: disc;
    padding: 0;
    margin: 0;
}

li
{
    margin: 1rem 0;
}


a
{
    color: @ambassadors-link-color;
    font-family: "OpenSansLightItalic";
    text-decoration: underline;

    &:hover
    {
        color: @ambassadors-link-color;
        text-decoration: underline;
    }

    &:active, &:visited
    {
        color: @ambassadors-link-color;
        text-decoration: underline;
    }
}


#layout-wrapper
{
    width: 100%;
    padding: 0;

    #layout-header
    {
        background: @ambassadors-header-background-color;
        box-shadow: 0 0 1.11rem #000000;
        height: 7.5rem;
        margin: 0;

        #header
        {
            .zone-header
            {
                @media @media-md
                {
                    margin: 0 auto;
                    width: @screen-md-min;
                }

                height: 7.5rem;
                background-image: url("../Content/Images/logo.png");
                background-repeat: no-repeat;
                background-position: center left;
                vertical-align: middle;

                #branding
                {
                    a
                    {
                        display: none;
                    }
                }
            }
        }
    }

    #layout-main-container
    {
        margin-left: 0;
        margin-right: 0;

        #layout-main
        {
            #layout-content
            {
                padding: 22rem 0 1rem;

                #content
                {
                    .zone-content
                    {
                        position:relative;
                        &::after
                        {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: -3.2rem;
                            left: 0;
                            background: url("../Content/Images/logo-big.png") no-repeat bottom;
                        }

                        background-color: @ambassadors-content-background-color;
                        box-shadow: 0 0 1.11rem #555555;
                        border-radius: 1.66rem;
                        border-top-left-radius: 0;
                        padding: 0 5rem 5rem;

                        @media @media-md
                        {
                            margin: 0 auto;
                            width: @screen-md-min;
                        }

                        header h1
                        {
                            border: 0;
                            margin: 0;
                            padding-top: 5rem;
                        }

                        p
                        {
                            margin: 4rem 0;
                        }

                        .ambassadors-search-map
                        {
                            margin: auto -50px;
                            margin-bottom: 3rem;

                            img
                            {
                                width: 100%;
                            }
                        }

                        .ambassadors-searchbar
                        {
                            margin: 3rem auto;
                        }

                        .ambassadors-search-result-container
                        {
                            margin: auto -15px;

                            .ambassadors-search-result
                            {
                                list-style: none;
                                padding: 0;
                                /*display: inline;*/
                                text-align: justify;
                                width: 100%;

                                li
                                {
                                    width: 400px;
                                    background: @ambassadors-content-background-color;
                                    box-shadow: 0 0 1.11rem rgba(85, 85, 85, 0.5);
                                    border-radius: 1.66rem;
                                    border-top-left-radius: 0;
                                    display: inline-block;
                                    margin: 25px 20px;


                                    .ambassador-portrait
                                    {
                                        background: url("../Content/Images/portrait.png");
                                        width: 120px;
                                        height: 200px;
                                        float: left;
                                        border-bottom-left-radius: 1.66rem;
                                    }

                                    .ambassador-details
                                    {
                                        margin-left: 120px;

                                        h4
                                        {
                                            font-size: 1.11em;
                                            margin: 2rem 2rem 0.5rem;
                                        }

                                        p
                                        {
                                            margin: 0.5rem 2rem;
                                            font-size: 0.77em;
                                        }

                                        ul
                                        {
                                            padding: 0;
                                            width: 100%;

                                            .ambassador-phone-number
                                            {
                                                margin: 0.5rem 2rem;
                                                display: inline;
                                                box-shadow: none;
                                                border-radius: unset;
                                                font-size: 0.66em;
                                                padding-left: 20px;
                                                background: url("../Content/Images/phone-logo.png") no-repeat;
                                            }

                                            .ambassador-location
                                            {
                                                margin: 0.5rem 2rem;
                                                display: inline;
                                                box-shadow: none;
                                                border-radius: unset;
                                                font-size: 0.66em;
                                                padding-left: 20px;
                                                background: url("../Content/Images/location-sign.png") no-repeat;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #layout-footer
    {
        #footer
        {
            #footer-quad
            {
                margin-left: 0;
                margin-right: 0;
            }

            #footer-sig
            {
                margin-left: 0;
                margin-right: 0;

                .zone-footer
                {

                    a
                    {
                        color: @ambassadors-footer-link-color;
                        font-family: "OpenSansLightItalic";
                        text-decoration: none;

                        &:hover
                        {
                            color: @ambassadors-footer-link-color;
                            text-decoration: none;
                        }

                        &:active, &:visited
                        {
                            color: @ambassadors-footer-link-color;
                            text-decoration: none;
                        }
                    }

                    width: 100%;
                    text-align: center;
                    margin: 10rem 0 0;
                    border-top: 1px solid @ambassadors-footer-border-color;
                    background: #303030; /* Old browsers */
                    background: -moz-linear-gradient(top, #303030 0 #222222 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#303030), color-stop(100%,#222222)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top, #303030 0,#222222 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top, #303030 0,#222222 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top, #303030 0,#222222 100%); /* IE10+ */
                    background: linear-gradient(to bottom, #303030 0,#222222 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
                }
            }
        }
    }
}
