@import "variables";
@import "mixins/mixins";

body
{
    font-size: @ambassadors-base-font-size;
    background: @ambassadors-color-light-grey;

    @media @media-lg
    {
        background: url(../Content/Images/Background.jpg) no-repeat fixed;
        background-size: 100%;
        background-position: left top;
    }

    line-height: 1.6em;

    &::before
    {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(top, @ambassadors-background-gradient-color-1 0, @ambassadors-background-gradient-color-1 45%, @ambassadors-background-gradient-color-2 65%, @ambassadors-background-gradient-color-2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@ambassadors-background-gradient-color-1), color-stop(45%,@ambassadors-background-gradient-color-1), color-stop(65%,@ambassadors-background-gradient-color-2), color-stop(100%,@ambassadors-background-gradient-color-2));
        background: -webkit-linear-gradient(top, @ambassadors-background-gradient-color-1 0,@ambassadors-background-gradient-color-1 45%,@ambassadors-background-gradient-color-2 65%,@ambassadors-background-gradient-color-2 100%);
        background: -o-linear-gradient(top, @ambassadors-background-gradient-color-1 0,@ambassadors-background-gradient-color-1 45%,@ambassadors-background-gradient-color-2 65%,@ambassadors-background-gradient-color-2 100%);
        background: -ms-linear-gradient(top, @ambassadors-background-gradient-color-1 0,@ambassadors-background-gradient-color-1 45%,@ambassadors-background-gradient-color-2 65%,@ambassadors-background-gradient-color-2 100%);
        background: linear-gradient(to bottom, @ambassadors-background-gradient-color-1 0,@ambassadors-background-gradient-color-1 45%,@ambassadors-background-gradient-color-2 65%,@ambassadors-background-gradient-color-2 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@ambassadors-background-gradient-color-hex1, endColorstr=@ambassadors-background-gradient-color-hex2,GradientType=0 );
        background-attachment: fixed;
    }

    color: @ambassadors-text-color;
}

ol, ul
{
    list-style: disc;
    padding: 0;
    margin: 0;
}

li
{
    margin: 1rem 0;
}

a
{
    color: @ambassadors-link-color;
    text-decoration: underline;

    &:hover
    {
        color: @ambassadors-link-color;
        text-decoration: underline;
    }

    &:active, &:visited
    {
        color: @ambassadors-link-color;
        text-decoration: underline;
    }
}

#layout-wrapper
{
    width: 100%;
    padding: 0;

    #layout-header
    {
        background: @ambassadors-header-background-color;
        box-shadow: 0 0 1.11rem @ambassadors-color-black;
        height: 7.5rem;
        margin: 0;
        width: 100%;

        #header
        {
            width: 100%;

            .zone-header
            {
                padding-right: 0;
                padding-left: 0;

                @media @media-lg
                {
                    margin: 0 auto;
                    width: @screen-md-min;
                }

                height: 7.5rem;
                vertical-align: middle;

                #branding
                {
                    position: relative;

                    a
                    {
                        width: 28rem;
                        height: 7rem;
                        background-image: url("../Content/Images/logo.png");
                        background-repeat: no-repeat;
                        background-position: center left;
                        vertical-align: middle;
                        position: absolute;
                        z-index: 10;
                        top: -0.8rem;
                    }
                }
            }
        }
    }

    #layout-main-container
    {
        margin-left: 0;
        margin-right: 0;

        #layout-main
        {
            #layout-content
            {
                padding: 0 0 1rem;

                @media @media-lg
                {
                    padding: 22rem 0 1rem;
                }

                #content
                {
                    .zone-content
                    {
                        position: relative;

                        &::after
                        {
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: -3.2rem;
                            left: 0;
                            height: 7.4rem;
                            background: url("../Content/Images/logo-big.png") no-repeat bottom;
                        }

                        padding: 0 1rem 1rem;

                        @media @media-lg
                        {
                            border-radius: 1.66rem;
                            border-top-left-radius: 0;
                            margin: 0 auto;
                            width: @screen-md-min;
                            padding: 0 5rem 5rem;
                        }

                        box-shadow: 0 0 1.11rem @ambassadors-color-medium-grey;
                        background-color: @ambassadors-content-background-color;

                        h1
                        {
                            border: 0;
                            margin: 0;
                            padding-top: 5rem;
                            padding-bottom: 0rem;
                        }

                        p
                        {
                            margin: 3.5rem 0;
                        }

                        .ambassadors-search-map
                        {
                            margin: auto -2rem;
                            margin-bottom: 3rem;

                            @media @media-lg
                            {
                                margin: auto -5rem;
                                margin-bottom: 3rem;
                            }

                            img
                            {
                                width: 100%;
                            }
                        }

                        .ambassadors-searchbar
                        {
                            .ambassadors-search-input
                            {
                                width: calc(100% - 5rem);
                            }

                            .ambassadors-search-button
                            {
                                height: 2.6em;
                                width: 2.6em;
                                border: 0;
                                border-radius: 0 1rem 1rem 0;
                                margin-top: 0;
                                background: url("../Content/Images/search.png") center;
                                outline: 0;
                                padding: 0;
                                float: left;
                            }
                        }

                        .ambassadors-search-result-container
                        {
                            margin: auto -1.5rem;

                            .ambassadors-search-result
                            {
                                list-style: none;
                                padding: 0;
                                text-align: center;
                                width: 100%;

                                li
                                {
                                    text-align: left;
                                    width: 90%;
                                    margin: 2.5rem 2rem;

                                    @media @media-xsm
                                    {
                                        width: 85%;
                                        margin: 2.5rem 2rem;
                                    }

                                    @media @media-lg
                                    {
                                        width: 40rem;
                                        margin: 2.5rem 2rem;
                                    }

                                    background: @ambassadors-content-background-color;
                                    box-shadow: 0 0 1.11rem rgba(85, 85, 85, 0.5);
                                    border-radius: 1.66rem;
                                    border-top-left-radius: 0;
                                    display: inline-block;

                                    .ambassador-portrait
                                    {
                                        background: url("../Content/Images/portrait.png");
                                        width: 12rem;
                                        height: 20rem;
                                        float: left;
                                        border-bottom-left-radius: 1.66rem;
                                    }

                                    .ambassador-details
                                    {
                                        margin-left: 12rem;

                                        h4
                                        {
                                            color: @ambassadors-details-name-color;
                                            font-size: 1.11em;
                                            margin: 2rem 2rem 0.5rem;
                                        }

                                        p
                                        {
                                            margin: 0.5rem 2rem;
                                            font-size: 0.77em;
                                        }

                                        ul
                                        {
                                            padding: 0;
                                            width: 100%;
                                            margin: 0 2rem;

                                            .ambassador-phone-number
                                            {
                                                margin: 0.5rem 0rem;
                                                .ambassadors-contact-detail-style();
                                                background: url("../Content/Images/phone-logo.png") no-repeat;
                                            }

                                            .ambassador-location
                                            {
                                                margin: 0.5rem 0rem 0.5rem 1rem;
                                                .ambassadors-contact-detail-style();
                                                text-transform: uppercase;
                                                background: url("../Content/Images/location-sign.png") no-repeat;
                                            }
                                        }

                                        .ambassador-description
                                        {
                                            margin-right: 3rem;
                                            line-height: 1.2em;
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #layout-footer
    {
        #footer
        {
            #footer-quad
            {
                margin-left: 0;
                margin-right: 0;
            }

            #footer-sig
            {
                margin-left: 0;
                margin-right: 0;

                .zone-footer
                {
                    font-size: 0.77em;
                    padding: 0;

                    a
                    {
                        .ambassadors-footer-link-style();

                        &:hover, &:active, &:visited
                        {
                            .ambassadors-footer-link-style();
                        }
                    }


                    .user-display
                    {
                        padding: 0.7rem 0 0.4rem 0;

                        a
                        {
                            margin: auto 0.5rem;
                        }

                        .user-actions
                        {
                            margin: auto 2rem;
                        }
                    }

                    width: 100%;
                    text-align: center;
                    margin: 10rem 0 0;
                    border-top: 1px solid @ambassadors-footer-border-color;
                    background: @ambassadors-footer-gradient-color-1;
                    background: -moz-linear-gradient(top, @ambassadors-footer-gradient-color-1 0 @ambassadors-footer-gradient-color-2 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,@ambassadors-footer-gradient-color-1), color-stop(100%,@ambassadors-footer-gradient-color-2));
                    background: -webkit-linear-gradient(top, @ambassadors-footer-gradient-color-1 0,@ambassadors-footer-gradient-color-2 100%);
                    background: -o-linear-gradient(top, @ambassadors-footer-gradient-color-1 0,@ambassadors-footer-gradient-color-2 100%);
                    background: -ms-linear-gradient(top, @ambassadors-footer-gradient-color-1 0,@ambassadors-footer-gradient-color-2 100%);
                    background: linear-gradient(to bottom, @ambassadors-footer-gradient-color-1 0,@ambassadors-footer-gradient-color-2 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@ambassadors-footer-gradient-color-1, endColorstr=@ambassadors-footer-gradient-color-2,GradientType=0 );
                }
            }
        }
    }
}
