@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/navigation";
@import "variables";
@import "type";

/* Navigation
***************************************************************/

#layout-wrapper
{
    #layout-navigation
    {
        margin: 0;
        width: 100%;
        position: absolute;
        top: 0;

        .zone-navigation
        {
            height: 7.5rem;

            @media @media-md
            {
                float: none;
                width: @screen-md-min;
                margin: 0 auto;
            }

            .menu
            {
                width: 70%;
                float: right;
                top: 1rem;

                li
                {
                    vertical-align: middle;

                    a
                    {
                    }
                }
            }

            .widget-navigation
            {
            }
        }
    }
}

.widget-menu-widget .menu
{
    li
    {
        width: unset;
        float: left;
        display: inline-block;

        a
        {
            text-align: left;
            color: @ambassadors-text-color;
            .ambassadors-font-georgia();
            text-decoration: none;
            padding: 0.5rem 2rem;
            display: inline-block;
            /*span
        {
            font-size: 12px;
            .ambassadors-font-georgia-italic();
        }*/
            &:hover, &:active, &:focus
            {
                background: none;
            }
        }

        &.current
        {
            a
            {
                color: @ambassadors-text-color;
                background: none;
                padding-left: 2.2rem;
                text-decoration: none;
                background-image: url("../Content/Images/logo_small.png");
                background-repeat: no-repeat;
                background-position: center left;
                vertical-align: middle;
                display: inline-block;

                &:hover, &:active, &:focus
                {
                    color: @ambassadors-text-color;
                    background: none;
                    padding-left: 2.2rem;
                    text-decoration: none;
                    background-image: url("../Content/Images/logo_small.png");
                    background-repeat: no-repeat;
                    background-position: center left;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }

    .last
    {
        width: unset;
        float: left;
        display: inline-block;

        a
        {
            text-align: center;
            border-radius: 1rem;
            padding: 0.5rem 2rem;
            background: @ambassadors-navigation-apply-background-color;
            color: @ambassadors-navigation-apply-text-color;

            &:hover, &:active, &:focus
            {
                text-align: center;
                border-radius: 1rem;
                padding: 0.5rem 2rem;
                background: @ambassadors-navigation-apply-background-color;
                color: @ambassadors-navigation-apply-text-color;
            }
        }

        &.current
        {
            a
            {
                text-align: center;
                border-radius: 1rem;
                background: @ambassadors-navigation-apply-background-color;
                color: @ambassadors-navigation-apply-text-color;
                padding: 0.5rem 2rem;

                &:hover, &:active, &:focus
                {
                    border-radius: 1rem;
                    background: @ambassadors-navigation-apply-background-color;
                    color: @ambassadors-navigation-apply-text-color;
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}
