@import "../../Lombiq.PrettyGoodBootstrapBaseTheme/Styles/type";
@import "variables.less";


/* Typography
***************************************************************/

p
{
    text-align: justify;
}

/* Headings */

h1
{
    font-size: 1.7em;
    small
    {
        font-size: 1.6em;
    }
}

.zone-content 
> .content-item:first-of-type 
> header h1
{
    padding-bottom: 4rem;
    border-bottom: 0;
}

h2
{
    font-size: 1.4em;

    small
    {
        font-size: 1.3em;
    }
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1em;
    font-style: normal;
    margin: 4rem auto;
    color: @ambassadors-sub-heading-color;
}

h5
{
    font-size: 1.3em;
}

h6
{
    font-size: 1.1em;
}