/* Breadcrumbs
   Some LESS variables that you can configure from your derived theme.
***************************************************************/
/* Variables
***************************************************************/
/* Colors 
***************************************************************/
/* Menu*/
/* Media queries */
.Powered_by_Orchard_©_Lombiq___________Sign_In__ {
  font-size: 14px;
  font-family: "Vani";
  color: #757a71;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 301.344px;
  top: 1274.152px;
  z-index: 33;
}